site_name: PEERS Documentation
site_description: Peer-driven Educational Ecosystem of Resources & Services
site_url: https://PEERS21.github.io/

theme:
  name: material
  language: ru
  palette: 
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - navigation.tabs
    - navigation.sections
    - search.suggest
    - content.code.copy

nav:
  - Главная: index.md
  - Архитектура: infrastructure.md
  - Безопасность (HMAC/Secrets): security.md
  - Юридическая информация: terms.md